#paragraph1 {
    border: 2px solid red;
    border-color: brown;
    border-radius: 08px;
    font-style: italic;
    font-weight: 200;
    background-color: bisque;
    color: brown;

}

#paragraph2 {
    background-color: rgb(167, 181, 184);
    color: rgb(18, 34, 65);
}