#paragraph1 {
  border: 2px solid red;
  border-color: brown;
  border-radius: 08px;
  font-style: italic;
  font-weight: 200;
  background-color: bisque;
  color: brown;
  padding: 10px;
}

#paragraph2 {
  background-color: rgb(167, 181, 184);
  border-style: solid;
  border-color: chartreuse;
  color: rgb(18, 34, 65);

  border-radius: 1.13em;
  padding: 10px;
}

#paragraph3 {
  background-color: mediumturquoise;
  color: rgb(162, 16, 247);
  border-style: solid;
  border-color: darkblue;
  border-radius: 20px;
  padding: 10px;
}

body {
  background-image: url("images and audio files/mountain.jpg");
  content-visibility: 0.2em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
